__pycache__/
*.py[cod]
venv/
.venv/
api_env/

#*.db
*.sqlite
*.db3

.vscode/
.idea/

.gradle/
#build/
#*.jar
*.class
!nes_collision.jar
!nes_geofence.jar
!nes_humidity.jar

*.log
*.tmp

#bags
**/rorbots_follower_leader_parcelle_1MONT_ros2/
#deployments/bags/

**/otherscripts/